@model Jobzy.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mylayout.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <h4>النوع</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("الرجوع الي القائمه", "Index")
</p>
